body{
    background-color:#f0f0f0;

}
.navbar{
    width:100%;
    height:15%;
    left:6rem;
    top:0;
    
    background-color: white;
    position: fixed;
}
.sidebar{
  
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 8rem;
    background-color: white;
    box-shadow:20px 20px 50px lightgray;  
    box-sizing: border-box;
    /* box-shadow: 10px 0px lightgray; */
}
.logo{
    justify-content: center;

}
.logo a{
    padding:1rem auto;
    margin-left: 2rem;
    width:2rem;
    
 
}
nav{
   
  
}
.logo{
    border-bottom:2px solid lightgray;
}
a{  
    
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height:3rem;
    padding:0.5rem;
  
}
.navLinks a{
    opacity:0.7;
    text-decoration: none;
    color:rgb(3, 0, 0);
}
.selected{
 border-left: 4px solid blue;
 background-color: #b9ddf5;
 color:rgb(3, 0, 0);
 font-weight: 900;
 opacity:1;
 
}
.selected a{
    text-decoration: none;
  

 color:rgb(0, 0, 0);
}
.selected {
   
    font-size: 14px;
    width: 100%;
}
section{
    margin-left: 10rem;
    margin-top: 8%;

    height: 100%;
    width: 80%;
}

section h3{
align-items: center;
display: flex;
color: #464646;
}
.main{
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
}
.main input[type="text"] {
    width: 100%;
    outline: none;
    height: 1.5rem;
    padding: 0.5rem;
    border-radius:2px;
    border: none;
    margin: 0.7rem auto;
}
input[type=text]:focus {
  border: none;
  }
  .main h4{
      margin-left: 50%;
  }
input[type="file"] {
    display: none;
}
.custom__upload {
height:9rem;
width: 9rem;
padding:3rem auto;
position: relative;
background-color:white;
}
.custom__upload p{
    padding:2rem auto;
    align-items: center;
    text-align: center;
    position: absolute;
    top:30%;
    font-weight: bold;
    left: 28%;
}